body{
background-color: #949BFF;
font-family:"helvetica";
font-size: 18px;
color:#000066;


}

#headerPhoto{

text-indent:-40%; 
text-align:center;

}

#content{
text-indent:-35%; 
text-align:center;
font-family:"helvetica";
font-size: 14px;

}


#footer{
font-family:helvetica;
color: darkblue;
text-indent: 47%;
font-size:12px;
bottom:0px;
position:relative;


}


img.header{

position:relative;
left:20%;

}

#menu {
	width: 610px;
	margin: 0 auto;
	background-color: #000066;
	text-align:center;
	font-family:"helvetica";
	font-size: 18px;

}


A:link {
text-decoration:none;
color:#949BFF;
font-size:23px;
margin: 0 21px;
}

A:active {
margin:21px;
font-size:23px;
text-decoration: underline; color: white;
}

A:visited {
margin:21px;
font-size:23px;
text-decoration: underline; color:#949BFF;
}

A:hover {
margin:22px;
font-size:23px;
text-decoration: underline; color: lightblue;
}

