body{
background-color: #949BFF;
font-family:"helvetica";
font-size: 18px;
color:#000066;


}

#header{
text-align:center;
margin:0 auto;

}

#content{ 
text-align:center;
font-family:"helvetica";
font-size: 14px;

}


#footer{
font-family:helvetica;
color: darkblue;
font-size:12px;
bottom:0px;
position:relative;


}


#menu {
	width: 620px;
	margin: 0 auto;
	background-color: #000066;
	text-align:center;
	font-family:"helvetica";
	font-size: 18px;

}


.headerLink A:link {
text-decoration:none;
color:#949BFF;
font-size:23px;
margin: 0 21px;
}

.headerLink A:active {
margin:21px;
font-size:23px;
text-decoration: underline; color: white;
}

.headerLink A:visited {
margin:21px;
font-size:23px;
text-decoration: underline; color:#949BFF;
}

.headerLink A:hover {
margin:22px;
font-size:23px;
text-decoration: underline; color: lightblue;
}

.container{
	width:600px;
	text-align:center;
	margin:0 auto;
}

#artistList{
	float:left;
}
#genreList{
	float:left;
}
#ageList{
	float:left;
}
#venueList{
	float:left;
}
#locationList{
	float:left;
}

#artistForm{
	float:right;
}
#genreForm{
	float:right;
}
#ageForm{
	float:right;
}
#venueForm{
	float:right;
}
#locationForm{
	float:right;
}