body {
background-image:url('../images/headerPhoto.png');
background-color: #949BFF;
background-repeat:no-repeat;
background-attachment:not-fixed;
background-position:top center;
font-family:"helvetica";
font-size: 16px;
color:#000066;
text-align:center;
}

#content {
font-family:"helvetica";
font-size: 14px;
color:#000066;
text-align:center;
position:relative;
top:350px;
}

#header{
text-align:center;
margin:0 auto;

}

.menu {
text-align:center;
font-family:"helvetica";
font-size: 22px;
width: 670px;
height:30px;
margin: 0 auto;
background-color: #000066;

}


#footer{
    padding-top:20px;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}


a.manageLinks:link{
text-decoration:none;
color:lightblue;
font-family:helvetica;
font-size:18px;

}


a.manageLinks:active{
text-decoration:underline;
color:lightblue;
font-family:helvetica;
font-size:18px;

}

a.manageLinks:visited{
text-decoration:underline;
color:lightblue;
font-family:helvetica;
font-size:18px;

}

a.manageLinks:hover{
text-decoration:none;
color:darkblue;
font-family:helvetica;
font-size:18px;

}


A.headerLink:link {
text-decoration:none;
color:#949BFF;
margin:21px;
}

A.headerLink:active {
margin:21px;
text-decoration: underline; color: white;
}

A.headerLink:visited {
margin:21px;
text-decoration: underline; color: #949BFF;
}

A.headerLink:hover {
margin:21px;
text-decoration: underline; color: lightblue;
}

.container{
	width:600px;
	margin: 0 auto;
	text-align:center;
	width:620px;
}
#eventSearch {
	float:left;
}

#viewEventLink{
	color:white;
}

td{
	text-align:center;
}
.image{
border: 5px double #4E387E;


}

#eventDetails{
	width:600px;
}

#eventDetailsEventName{
	text-shadow: 0 0 21px #00FF00;
	font-family: ravie;
	font-size: 41px;
}

#eventDetailsFeaturing{
	text-decoration: bold;
}

#eventDetailsArtistName{
	text-shadow: 0 0 15px #0000FF;
	font-family: verdana;
	font-size: 35px;
}

#eventDetailsArtist{
	font-family:helvetica;
	font-size:20px;
	float:right;
	text-align:left;
}
#eventDetailsImage{
	float:left;
}

#searchName{
	color:red;
}
#searchEvent{
	color:blue;
}
#searchDate{
	color:green;
}
#searchVenue{
	color:yellow;
}