body {
background-image:url('../images/headerPhoto.png');
background-color: #949BFF;
background-repeat:no-repeat;
background-attachment:not-fixed;
background-position:top center;
font-family:"helvetica";
font-size: 18px;

text-align:center;
}

#content {
font-family:"helvetica";
font-size: 14px;
color:#000066;
text-align:center;
position:relative;
top:350px;
}

#header{
text-align:center;
margin:0 auto;

}

.menu {
text-align:center;
font-family:"helvetica";
font-size: 22px;
width: 680px;
height:30px;
margin: 0 auto;
background-color: #000066;


}


#footer{
font-family:helvetica;
color: darkblue;
text-indent: 0%;
font-size:12px;
bottom:0px;
position:relative;
}



A:link {
text-decoration:none;
color:#949BFF;
margin:21px;
}

A:active {
margin:21px;
text-decoration: underline; color: white;
}

A:visited {
margin:21px;
text-decoration: underline; color: #949BFF;
}

A:hover {
margin:21px;
text-decoration: underline; color: lightblue;
}

.container{
	width:600px;
	margin: 0 auto;
	
}
